<label for="serverName"> Server Name</label>
<!-- <input type="text" name="serverName" id="serverName" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" name="serverName" id="serverName" class="form-control" [(ngModel)]="serverName">
<!-- <p>{{serverName}}</p> -->

<button class=" btn btn-danger m-2 " [disabled]="!allowNewServer " (click)="onCreateServer() ">Add Server</button>
<!-- <p [innerText]="allowNewServer " class="badge badge-primary ml-2 "></p> -->

<!-- <p>{{ ServerCreationStatus }}</p> -->
<p *ngIf="serverCreated"> Server was created and, Server name is {{ serverName }}</p>
<!-- Else  -->
<!-- <ng-template #noServer>
    <p>No Server was Created</p>
</ng-template> -->
<app-server *ngFor="let  server of servers"></app-server>